@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    touch-action: pan-x pan-y;
    height: 100% 
}
html {
    user-select: none;
    user-zoom: none;
}
body {
    font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    touch-action: manipulation;
}
::-webkit-scrollbar {
    opacity: 0;
    display: none;
}
a {
    text-decoration: none;
    color: white;
}
.Header {
    margin: 0vh 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
}
.Header i {
    font-size: larger;
}
.Header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    color: white;
    font-size: small;
}
.Header div img {
    width: 5vh;
}
.MainMovie {
    position: relative;
    top: 1vh;
    text-align: center;
    margin: 4vh 0vh;
}
.MainMovie img {
    width: 35vh;
    position: relative;
    background-color: black;
    box-shadow: 0vh 0vh 3vh 4px #151515;
    border-radius: 1Vh;
    mask-image: linear-gradient(180deg, #ffff 75%, #0000 100%);
}
.MainMovie h3 {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0px 1px 1vh gray;
}
.MainMovie a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.Types {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Types h1 {
    background: #7b7b7b10;
    border-radius: 1.5vh;
    padding: 1vh 3vh;
    font-size: medium;
}
.Types a {
    text-decoration: none;
    color: #ffffff78;
    font-weight: 500;
}
.trendingScroll {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}
.movieCard img {
    border-radius: 1vh;
    width: 20vh;
}
.movieCard {
    margin: 0vh 1vh;
}
.explore div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2vh;
}
.explore div a {
    flex: 0 0 50%;
    box-sizing: border-box;
    width: -moz-fit-content;
    text-align: center;
    margin: 2vh 0vh;
}
.explore {
    text-align: center;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.loadMore {
    background: gray;
    color: black;
    text-decoration: none;
    font-weight: 500;
    padding: 1vh;
    border-radius: 1vh;
    flex: 1;
    margin: 0vh 5vh;
}
.backdrop {
    top: 0;
    position: fixed;
    z-index: -1;
    opacity: 0.7;
    mask-image: linear-gradient(180deg, #ffffff 60%, #0000 100%);
    width: -webkit-fill-available;
    filter: blur(1px);
    transform: scale(1.1);
}
.MovieInfos img {
    width: 17vh;
    border-radius: 1vh;
}
.MovieInfos {
    margin: 3vh;
    gap: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.genres {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: scroll;
    justify-content: flex-start;
}
.genres span {
    padding: 1vh 1.4vh;
    background: #151515;
    margin-right: 1vh;
    border-radius: 1.5vh;
    color: dimgray;
    font-size: x-small;
    text-decoration: none;
    white-space: nowrap;
}
.MovieInfos div a {
    box-shadow: 0vh 0vh 3vw black;
    padding: 1vh 1.4vh;
    background: #151515BB;
    margin-right: 1vh;
    border-radius: 1vh;
    color: dimgray;
    text-decoration: none;
}
.MovieBackground {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    animation: idleAnimation 10s infinite linear;
    filter: blur(20px);
}
.NavBar {
    display: flex;
    justify-content: space-between;
    margin: 1vh 3vh;
    align-items: center;
    height: 8vh;
    margin-bottom: 2vh;
    position: relative;
    z-index: 10;
}
.Player {
    z-index: 9999;
    position: fixed;
    display: none;
    top: 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #050505fa;
}
.Loader {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #111111FF;
    z-index: 9999999;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.hidden {
    opacity: 0;
    pointer-events: none;
    display: none;
}
.Loader img {
    width: 10vh;
}
.searchBar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
.searchBar input {
    width: 70%;
    color: white;
    border: none;
    padding: 2vh 1vh;
    border-radius: 0;
    border-radius: 1vh 0vh 0vh 1vh;
    background-color: #111;
}
.searchBar button {
    border-radius: 0vh 1vh 1vh 0vh;
    border: none;
    background: #111;
    color: white;
}
.searchBar button:is(:hover, :active) {
    border-radius: 0vh 2vh 2vh 0vh;
    background: #11111199;
}
.previewNavBar {
    display: flex;
    justify-content: space-between;
    margin: 1vh 3vh;
    align-items: center;
    height: 8vh;
    margin-bottom: 2vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.recom {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.recom .movieCard img {
    width: 15vh;
    height: 22.5vh;
    background: gray;
}
.buttonDisabled {
    opacity: 0.5;
    pointer-events: none;
}
.exploreTypes {
    display: flex;
    justify-content: space-evenly;
    margin: 3vh;
}
.exploreTypes a {
    text-decoration: none;
    color: gray;
    background-color: #11111199;
    padding: 1vh 3vh;
    border-radius: 1vh;
    transition: all .3s;
}
.exploreTypes a:hover {
    position:relative;
    background-color: gray;
    color: #11111199;
    box-shadow: 0px 0px 6px white;
}
.EPCard {
    display: flex;
    line-height: 0px;
    margin: 1vh;
    background: #15151566;
    padding: 1vh 2Vh;
    border-radius: 1vh;
    flex-direction: column;
    gap: 1vh;
    transition: all .3s;
}
.EPCard:hover {
    background: #252525;
}
.EPCard img {
    width: 20vh;
    border-radius: .7vh;
}
.EPslider {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
#seasonSelector {
    background: #dfdfdf66;
    border: none;
    padding: 1vh;
    color: black;
    font-weight: 600;
    border-radius: .7vh;
}
.Cards {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 2vh;
}
.ListCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    background-color: #151515;
    border-radius: 2vh;
}
.ListCard img {
    padding: 1vh;
    width: 10vh;
    border-radius: 2vh;
}
.ListCard p {
    width: fit-content;
    background: #ff000033;
    padding: .7vh 1.5vh;
    border-radius: .7vh;
}
.ListCard h5 {
    font-weight: 400;
    color: gray;
}
.Cards a {
    text-decoration: none;
    color: white;
}
.errorPage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MainBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    animation: idleAnimation 7s infinite linear;
}
@keyframes idleAnimation {
    0% {
        filter: blur(2vh) hue-rotate(0deg);
        transform: scale(2);
    }
    50% {
        filter: blur(3vh) hue-rotate(80deg);
        transform: scale(3);
    }
    100% {
        filter: blur(2vh) hue-rotate(0deg);
        transform: scale(2);
    }
}
.MainBackdrop img {
    width: 100%;
    opacity: 0.4;
    transition: opacity 0.5s ease;
}

.MainBackdrop:hover img {
    opacity: 0.6;
}

.Player iframe {
    border-radius: 1vh;
    border: none;
    box-shadow: 0vh 0vh 8vh 2vh black;
}
.MainMovieInfos {
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    font-size: small;
    align-content: center;
    align-items: center;
    left: 0;
    right: 0;
    color: white;
    margin: 0vh 7vh;
    bottom: -3vh;
    gap: 0vh;
}
.close {
    position: fixed;
    top: 3vh;
    right: 3vh;
    font-size: large;
    background-color: #ff00042c;
    border-radius: 5px;
    padding: 1vh 2vh;
}
.loginContainer {
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    place-content: center;
}
.loginContainer .User {
    display: flex;
    bottom: 0;
    top: 0;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.loginContainer .User h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    margin: 2vh;
    height: 10vh;
    width: 10vh;
    font-size: 7vh;
    text-align: center;
    background-color: #151515;
    border-radius: 50%;
}
.loginContainer .User input {
    border: none;
    background-color: #151515;
    color: white;
    padding: 1vh;
    border-radius: 1vh;
    width: 13vh;
    text-align: center;
    font-size: 2vh;
}
::placeholder {
    text-align: center;
}
.User button {
    padding: 1vh;
    margin: 3vh;
    border: none;
    border-radius: 1vh;
    color: white;
    background: #ff000036;
    box-shadow: 0vh 0vh 8px 1px #FF000050;
    transition: all .2s;
}
.User button:active {
    box-shadow: 0vh 0vh 8px 1px #ffffff88;
    background: #ffffff66;
}
.webappDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}
.webappDetails img {
    width: 10vh;
    background: #151515;
    padding: 2vh;
    border-radius: 3vh;
}
.userInfos {
    display: flex;
    align-items: center;
    gap: 7em;
    justify-content: center;
}
.userInfos h1 {
    width: 8vh;
    height: 8vh;
    background-color: #FFFFFF40;
    border-radius: 50%;
    display: flex;
    place-content: center;
    align-items: center;
}
.infosContainer {
    display: flex;
    background-color: #151515;
    flex-direction: column;
    position: relative;
    top: 7vh;
}