@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-ui-display');
:root {
    touch-action: pan-x pan-y;
    height: 100%;
    --plyr-color-main: red;
    --art-theme: orange;
}
html {
    user-select: none;
    user-zoom: none;
}
body {
    font-family: 'SF UI Display', sans-serif;
    background-color: black;
    color: white;
    touch-action: manipulation;
}
::-webkit-scrollbar {
    background: #e5e5e511;
    height: 1vh;
    width: 1vh;
}
::-webkit-scrollbar-thumb {
    background: #e5e5e533;
    border-radius: 1vh;
    width: 15px;
}
a {
    text-decoration: none;
    color: white;
}
.Header {
    margin: 0vh 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
}
.Header i {
    font-size: larger;
}
.Header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    color: white;
    font-size: small;
}
.Header div img {
    width: 5vh;
}
.MainMovie {
    position: relative;
    top: 1vh;
    text-align: center;
    margin: 4vh 4vh;
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}
.MainMovie img {
    width: 35vh;
    position: relative;
    background-color: black;
    box-shadow: 0vh 0vh 3vh 4px #151515;
    border-radius: 2vh;
    mask-image: linear-gradient(180deg, #ffff 75%, #0000 100%);
}
.MainMovie h3 {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0px 1px 1vh gray;
}
.MainMovie a {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    background: black;
    width: min-content;
    border-radius: 2vh;
    box-shadow: 0vh 0vh 20px 1px #151515;
}
.Types {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Types h1 {
    background: #00000022;
    border-radius: 1.5vh;
    padding: 1vh 2vh;
    font-size: medium;
    backdrop-filter: blur(1vh);
}
.Types a {
    text-decoration: none;
    color: #ffffff78;
    font-weight: 500;
}
.trendingScroll {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}
.movieCard img {
    border-radius: 1vh;
    width: 20vh;
}
.movieCard {
    transition: all .3s;
    margin: 0 1vh;
}
.explore div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2vh;
}
.explore div a {
    flex: 0 0 50%;
    box-sizing: border-box;
    width: -moz-fit-content;
    text-align: center;
    margin: 2vh 0vh;
}
.explore {
    text-align: center;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.loadMore {
    background: gray;
    color: black;
    text-decoration: none;
    font-weight: 500;
    padding: 1vh;
    border-radius: 1vh;
    flex: 1;
    margin: 0vh 5vh;
}
.backdrop {
    top: 0;
    position: fixed;
    z-index: -1;
    opacity: 0.7;
    mask-image: linear-gradient(180deg, #ffffff 60%, #0000 100%);
    width: -webkit-fill-available;
    transform: scale(1.1);
    filter: blur(2px);
}
.MovieInfos img {
    width: 17vh;
    border-radius: 1vh;
}
.MovieInfos {
    margin: 3vh;
    gap: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.genres {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
}
.genres span {
    padding: 1vh 1.4vh;
    background: #1515159e;
    margin-right: 1vh;
    border-radius: 1.5vh;
    color: dimgray;
    font-size: x-small;
    text-decoration: none;
    white-space: nowrap;
    backdrop-filter: blur(1vh);
}
.MovieInfos div a {
    align-items: center;
    display: flex;
    height: fit-content;
    box-shadow: 0vh 0vh 1vh #000000dd;
    padding: 1vh 1.5vh;
    background: #151515BB;
    margin-right: 1vh;
    border-radius: 1vh;
    color: dimgray;
    text-decoration: none;
}
.MovieBackground {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    filter: blur(20px);
}
.NavBar {
    display: flex;
    justify-content: space-between;
    margin: 1vh 3vh;
    align-items: center;
    height: 8vh;
    margin-bottom: 2vh;
    position: relative;
    z-index: 10;
}
.Player {
    touch-action: none;
    z-index: 9999;
    position: fixed;
    display: none;
    top: 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #0e0e0ee9;
    backdrop-filter: blur(2vh);
    gap: 2vh;
}
.Loader {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #000000dd;
    backdrop-filter: blur(1.5vh);
    z-index: 9999999;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;
}
.hidden {
    opacity: 0;
    pointer-events: none;
    display: none;
}
.Loader img {
    width: 10vh;
    animation: fadeinout 2s infinite;
}
@keyframes fadeinout
{
  0%, 100%{
    opacity:1;
  }
  50%
  {
    opacity:0.1;
  }
}
.infosContainer p {
    margin: 2vh;
    font-size: small;
    color: darkgray;
}
.searchBar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
.searchBar input {
    width: 70%;
    color: white;
    border: none;
    padding: 1.3vh 1vh;
    border-radius: 1vh 0vh 0vh 1vh;
    background-color: #111;
}
.searchBar button {
    border-radius: 0vh 1vh 1vh 0vh;
    border: none;
    color: white;
    font-weight: 500;
    text-shadow: 0 0 3px white;
    background: none;
    cursor: pointer;
    background: #16161666;
}
.previewNavBar {
    display: flex;
    justify-content: space-between;
    margin: 1vh 3vh;
    align-items: center;
    height: 8vh;
    margin-bottom: 2vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.recom {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.recom .movieCard img {
    width: 15vh;
    height: 22.5vh;
    background: gray;
}
.buttonDisabled {
    opacity: 0.5;
    pointer-events: none;
}
.exploreTypes {
    display: flex;
    justify-content: space-evenly;
    margin: 3vh;
}
.exploreTypes a {
    text-decoration: none;
    color: gray;
    background-color: #11111199;
    padding: 1vh 3vh;
    border-radius: 1vh;
    transition: all .3s;
}
.selected {
    position: relative;
    background-color: #a7a7a73b !important;
    color: #dddddd99 !important;
    box-shadow: 0px 0px 6px #80808066 !important;
}
.EPCard {
    display: flex;
    margin: 1vh;
    background: linear-gradient(40deg, #01010199, #15151599);
    padding: 1vh 2vh;
    border-radius: 2vh;
    flex-direction: column;
    gap: 1vh;
    transition: all .15s ease-in-out;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.EPCard:is(:active,:hover) {
    padding: 1vh 3vh;
    background: linear-gradient(40deg, #010101BB, #151515BB);
}
.EPCard img {
    width: 20vh;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: .7vh;
}
.EPslider {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
#seasonSelector {
    background: #dfdfdf66;
    border: none;
    padding: 1vh;
    color: black;
    font-weight: 600;
    border-radius: .7vh;
}
.Cards {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 2vh;
}
.ListCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    background-color: #101010;
    backdrop-filter: blur(2vh);
    border-radius: 2vh;
    position: relative;
}
.ListCard img {
    padding: 1vh;
    width: 15vh;
    border-radius: 2vh;
    margin: 1vh;
}
.ListCard p {
    width: fit-content;
    background: #ff000033;
    padding: .7vh 1.5vh;
    border-radius: .7vh;
}
.ListCard h5 {
    font-weight: 400;
    color: gray;
}
.returning {
    color: springgreen;
    font-size: small;
    font-weight: 500;
    width: fit-content;
    padding: 1vh;
    backdrop-filter: blur(1vh);
    border-radius: 1vh;
    background: #00ff7f22;
}
.Cards a {
    text-decoration: none;
    color: white;
}
.errorPage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MainBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(5vh);
    /* animation: idleAnimation 15s infinite ease-in-out; */
}
@keyframes idleAnimation {
    0% {
        filter: blur(2vh) hue-rotate(0deg);
        transform: scale(2);
    }
    50% {
        filter: blur(3vh) hue-rotate(10deg);
        transform: scale(3);
    }
    100% {
        filter: blur(2vh) hue-rotate(0deg);
        transform: scale(2);
    }
}
.MainBackdrop img {
    width: 100%;
    opacity: 0.4;
    transition: opacity 0.5s ease;
}

.MainBackdrop:hover img {
    opacity: 0.6;
}

.Player iframe {
    border-radius: 1vh;
    border: none;
    box-shadow: 0vh 0vh 8vh 2vh black;
}
.MainMovieInfos {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: small;
    align-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 10px;
    color: white;
    margin: 0vh 2vh;
    gap: 0vh;
}
.MainMovieInfos h2 {
    margin: 0px;
    text-shadow: 0px 1px 1vh black;
}
.MainMovieInfos h4 {
    margin: 1vh;
    font-size: x-small;
    color: #ffffff75;
    text-shadow: 0vh 0px 2px #ffffff75;
}
.close {
    position: fixed;
    top: 3vh;
    right: 3vh;
    font-size: larger;
    color: #ff000099;
    text-shadow: 0px 0px 2px red;
    cursor: pointer;
}
.art-video-player,.art-video video, .art-video, .art-bottom, .art-poster {
    border-radius: 3vh !important;
    padding: 1vh;
}
.loginContainer {
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    place-content: center;
}
.loginContainer .User {
    display: flex;
    bottom: 0;
    top: 0;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.loginContainer .User h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    margin: 2vh;
    height: 10vh;
    width: 10vh;
    font-size: 7vh;
    text-align: center;
    background-color: #151515;
    border-radius: 50%;
}
.loginContainer .User input {
    border: none;
    background-color: #151515;
    color: white;
    padding: 1vh;
    border-radius: 1vh;
    width: 13vh;
    text-align: center;
    font-size: 2vh;
}
#pinCode::placeholder {
    text-align: center;
}
.User button {
    padding: 1vh;
    margin: 3vh;
    border: none;
    border-radius: 1vh;
    color: white;
    background: #ff000036;
    box-shadow: 0vh 0vh 8px 1px #FF000050;
    transition: all .2s;
}
.User button:active {
    box-shadow: 0vh 0vh 8px 1px #ffffff88;
    background: #ffffff66;
}
.webappDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}
.webappDetails img {
    width: 13vh;
    background: #151515;
    padding: 2vh;
    border-radius: 3vh;
    margin-bottom: 4vh;
    margin-top: 2vh;
}
.userInfos {
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: flex-start;
    margin: 0vh 3vh;
}
.userInfos h1 {
    width: 8vh;
    height: 8vh;
    background-color: #FFFFFF40;
    border-radius: 50%;
    display: flex;
    place-content: center;
    align-items: center;
}
.infosContainer {
    display: flex;
    background-color: #151515;
    flex-direction: column;
    position: relative;
    margin-top: 4vh;
    padding: 1vh;
}
.settingsList {
    margin: 1vh 1.5vh;
}
.settingsList h4 {
    background-color: #151515;
    border-radius: 1vh;
    padding: 1vh;
    font-weight: 300;
    padding-left: 2vh;
}
.infosContainer a {
    background: #232323;
    padding: 1vh;
    margin: 1vh 2vh;
    font-size: smaller;
    border-radius: 1vh;
}
#createNewProfile {
    font-size: small;
    color: red;
}
.plyr__menu__container [role=menu]{
    overflow-y: scroll;
    height: 20vh;
}
.video-react {
    width: 90% !important;
    height: auto !important;
    border-radius: 2vh !important;
}
.video-react video {
    border-radius: 2vh !important;
}
.video-react .video-react-big-play-button {
    background: #757575e3 !important;
    border-radius: 2vh !important;
    border: none !important;
}
.mainInfosContainer {
    display: flex;
    flex-direction: column;
}
.video-react .video-react-control-bar {
    background: #1515158b !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
    backdrop-filter: blur(5px);
}
.background-image {
    background-position: right;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -2;
    display: block;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    border-radius: 2vh;
    opacity: 0.5;
    mask-image: linear-gradient(270deg, #ffff 35%, #0000 73%);
}
.MainMovieDesktop {
    display: none;
}
@media (min-width:961px)  {
    .MainMovieDesktop {
        display: block;
        font-size: x-large;
        margin: 0vh 2vh;
        text-align: start;
    }
    .MainMovie {
        margin: 5vh 10vh;
        gap: 8vh;
    }
    .MainBackdrop {
        filter: blur(5vh);
        scale: 1.2;
        opacity: 0.8;
    }
    .backdrop {
        filter: blur(2vh);
    }
    .mainInfosContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .mainInfosContainer div {
        font-size: larger;
        justify-content: center;
        margin: 0vh 3vh;
    }
    .mainInfosContainer div:nth-child(2){
        flex-basis: 60%;
    }
    .mainInfosContainer div img {
        width: 30vh;
        box-shadow: 0px 0px 1vh black !important;
    }
    .genres {
        justify-content: flex-start !important;
        margin: 0vh !important;
        font-size: x-large !important;
    }
    .genres span {
        font-size: medium;
    }
    .movieCard img {
        width: 23vh !important;
        height: 34vh !important;
        box-shadow: 0px 0px 1vh black !important;
        margin: 1vh !important;
    }
    .DesktopBtn {
        display: flex !important;
        padding: 1.2vh 2vh !important;
        margin: 2vh 0vh !important;
        border-radius: 1.4vh !important;
        background: #03030377 !important;
    }
    .Types {
        justify-content: center;
        gap: 10%;
    }
    .explore div {
        text-align: center;
    }
    .explore div a {
        flex: 0 0 20%;
    }
    .MainMovieInfos h2, .MainMovieInfos h4 {
        display: none;
    }
    .MovieInfos div a {
        padding: 1vh 2vh;
        border-radius: 2vh;
    }
}